In [1]:
!gdown --id 1JCuim274hkoXCUjMe4RipKSJj8Q4WeOr

Downloading...
From: https://drive.google.com/uc?id=1JCuim274hkoXCUjMe4RipKSJj8Q4WeOr
To: /content/dataset.csv
4.22MB [00:00, 36.5MB/s]

In [2]:
import numpy as np
import pandas as pd
import os
import sklearn

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("dataset.csv")

In [4]:
df.head()

    var1    var2  var3  var4  var5  ...  var130  var131  var132  var133  var134
0  818.0  1006.0  33.0   0.0   0.0  ...     NaN     NaN     NaN     NaN       0
1    NaN    20.0   6.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
2    NaN   600.0  18.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
3    NaN   710.0  26.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
4    NaN  1270.0   1.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0

[5 rows x 135 columns]

numerical cols: var1-var3, var70-var-103, var104  
categorical cols: var4-69, var105-134

In [5]:
# creating new df
df1 = pd.DataFrame()
# place numerical cols then categorical cols
df1 = df1.append(df.loc[:, "var1":"var3"])
df1 = df1.join(df.loc[:, 'var70':'var103'])
df1 = df1.join(df.loc[:, 'var104'])

In [6]:
df1.head()

    var1    var2  var3  var70  var71  ...  var100  var101  var102  var103  var104
0  818.0  1006.0  33.0      2      1  ...       0       0     637     219   51.35
1    NaN    20.0   6.0      1      3  ...      10      20      20      13   19.94
2    NaN   600.0  18.0    626   1392  ...       0       4     622     251   99.00
3    NaN   710.0  26.0      5      2  ...    5429    6468      95     146   62.57
4    NaN  1270.0   1.0    608   1295  ...    6119    7220     104     278   34.51

[5 rows x 38 columns]

In [7]:
df1.tail()

        var1   var2  var3  var70  var71  ...  var100  var101  var102  var103  var104
14038    NaN   60.0   1.0      0      0  ...       0       0      28       7    7.03
14039   41.0   41.0   NaN      0      0  ...       0       0       0       0    4.70
14040   64.0    NaN   NaN      0      0  ...       0       0       0       0   54.97
14041  175.0  175.0   1.0      0      0  ...       0       0       0       0    5.09
14042    5.0    NaN   8.0      0      0  ...       0       0     332     234   10.78

[5 rows x 38 columns]

In [8]:
df1.shape

(14043, 38)

In [9]:
# handling missing values for continuous features
# replacing them with mean
for i in range(0, 38):
  df1.iloc[:,i] = df1.iloc[:,i].replace(np.NaN, df1.iloc[:,i].mean())

In [10]:
df1.head()

         var1    var2  var3  var70  ...  var101  var102  var103  var104
0  818.000000  1006.0  33.0      2  ...       0     637     219   51.35
1  612.032278    20.0   6.0      1  ...      20      20      13   19.94
2  612.032278   600.0  18.0    626  ...       4     622     251   99.00
3  612.032278   710.0  26.0      5  ...    6468      95     146   62.57
4  612.032278  1270.0   1.0    608  ...    7220     104     278   34.51

[5 rows x 38 columns]

In [11]:
df1.tail()

             var1        var2       var3  var70  ...  var101  var102  var103  var104
14038  612.032278   60.000000   1.000000      0  ...       0      28       7    7.03
14039   41.000000   41.000000  43.654287      0  ...       0       0       0    4.70
14040   64.000000  664.026896  43.654287      0  ...       0       0       0   54.97
14041  175.000000  175.000000   1.000000      0  ...       0       0       0    5.09
14042    5.000000  664.026896   8.000000      0  ...       0     332     234   10.78

[5 rows x 38 columns]

**Cheking sklearn imputer for handling missing values of numerical data**

In [12]:
# creating new df
df1_copy = pd.DataFrame()
# place numerical cols then categorical cols
df1_copy = df1_copy.append(df.loc[:, "var1":"var3"])
df1_copy = df1_copy.join(df.loc[:, 'var70':'var103'])
df1_copy = df1_copy.join(df.loc[:, 'var104'])

In [13]:
from sklearn.impute import SimpleImputer

imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
imp_mean.fit(df1_copy)
X = imp_mean.transform(df1_copy)

In [14]:
df1_copy = pd.DataFrame(X, columns = df1_copy.columns)

In [15]:
df1_copy.tail()

             var1        var2       var3  var70  ...  var101  var102  var103  var104
14038  612.032278   60.000000   1.000000    0.0  ...     0.0    28.0     7.0    7.03
14039   41.000000   41.000000  43.654287    0.0  ...     0.0     0.0     0.0    4.70
14040   64.000000  664.026896  43.654287    0.0  ...     0.0     0.0     0.0   54.97
14041  175.000000  175.000000   1.000000    0.0  ...     0.0     0.0     0.0    5.09
14042    5.000000  664.026896   8.000000    0.0  ...     0.0   332.0   234.0   10.78

[5 rows x 38 columns]

**Missing values for categorical data**

In [16]:
df2 = pd.DataFrame()
# place numerical cols then categorical cols
df2 = df2.append(df.loc[:, "var4":"var69"])
df2 = df2.join(df.loc[:, 'var105':'var134'])

In [17]:
df2.shape

(14043, 96)

In [18]:
df2.head()

   var4  var5  var6  var7  var8  ...  var130  var131  var132  var133  var134
0   0.0   0.0   0.0   0.0   0.0  ...     NaN     NaN     NaN     NaN       0
1   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
2   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
3   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0
4   0.0   0.0   0.0   0.0   0.0  ...     0.0     0.0     0.0     0.0       0

[5 rows x 96 columns]

In [19]:
#dropping rows with missing values
# df2.dropna(inplace=True)

In [20]:
df2.shape

(14043, 96)

problem arises at the time of joining with numerical data  
so we join it with df1 first then delete the rows

In [21]:
df1 = df1.join(df2)
df1 = df1.join(df[['trialOutcomes']])

In [22]:
df1.head()

         var1    var2  var3  var70  ...  var132  var133  var134  trialOutcomes
0  818.000000  1006.0  33.0      2  ...     NaN     NaN       0              0
1  612.032278    20.0   6.0      1  ...     0.0     0.0       0              0
2  612.032278   600.0  18.0    626  ...     0.0     0.0       0              0
3  612.032278   710.0  26.0      5  ...     0.0     0.0       0              0
4  612.032278  1270.0   1.0    608  ...     0.0     0.0       0              0

[5 rows x 135 columns]

In [23]:
# we drop the rows of missing categorical data
df_dropped = df1.dropna(axis=0)

In [24]:
df1.shape

(14043, 135)

In [25]:
df_dropped.shape

(4192, 135)

### TestSplit & Random Forest
The Continuous missing  values are replaced by mean whereas the categorical missing values are dropped

In [26]:
from sklearn.model_selection import StratifiedShuffleSplit

split = StratifiedShuffleSplit(n_splits=1, test_size=0.2, random_state=42)
for train_index, test_index in split.split(df_dropped, df_dropped['trialOutcomes']):
    strat_train_set = df_dropped.iloc[train_index]
    strat_test_set = df_dropped.iloc[test_index]

In [27]:
strat_train_set

              var1    var2   var3  var70  ...  var132  var133  var134  trialOutcomes
4097    612.032278  1320.0   13.0     77  ...     0.0     0.0       0              0
13224  1439.000000  1251.0   75.0   1001  ...     0.0     0.0       0              0
1359    612.032278   150.0    1.0    126  ...     0.0     0.0       0              0
9655    125.000000   120.0   36.0      8  ...     0.0     0.0       0              1
4740     79.000000    30.0    4.0      0  ...     0.0     0.0       0              1
...            ...     ...    ...    ...  ...     ...     ...     ...            ...
6690    450.000000   397.0  303.0   1543  ...     0.0     0.0       1              1
2439    722.000000   726.0    9.0    531  ...     0.0     0.0       0              0
6330    524.000000   650.0   43.0     24  ...     0.0     0.0       0              1
3693    616.000000   600.0   38.0     12  ...     0.0     0.0       0              1
4841    347.000000   336.0   25.0    386  ...     0.0     0.0       0              1

[3353 rows x 135 columns]

In [28]:
strat_test_set["trialOutcomes"].value_counts() / len(strat_test_set)

1    0.640048
0    0.359952
Name: trialOutcomes, dtype: float64

In [29]:
X_train = strat_train_set.copy()
X_test = strat_test_set.copy()
del X_train['trialOutcomes']
del X_test['trialOutcomes']

In [30]:
y_train = strat_train_set[['trialOutcomes']].copy()
y_test = strat_test_set[['trialOutcomes']].copy()

In [31]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(random_state=42)
rf.fit(X_train, y_train.values.ravel())

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=42, verbose=0,
                       warm_start=False)

In [32]:
y_pred = rf.predict(X_test)

In [33]:
from sklearn.metrics import f1_score

f1_score(y_test, y_pred)

0.7891986062717771

In [34]:
from sklearn.metrics import precision_score

precision_score(y_test, y_pred)

0.7414075286415712

In [35]:
y_pred_proba = rf.predict_proba(X_test)

In [36]:
y_pred_proba[:10]

array([[0.46, 0.54],
       [0.79, 0.21],
       [0.11, 0.89],
       [0.18, 0.82],
       [0.38, 0.62],
       [0.51, 0.49],
       [0.55, 0.45],
       [0.37, 0.63],
       [0.25, 0.75],
       [0.59, 0.41]])

In [37]:
y_pred[:10]

array([1, 0, 1, 1, 1, 0, 0, 1, 1, 0])

**custom function for classifying according my threshold**  
if prob of class 1 is > 0.7, it is positive  
                      > 0.5, it is unknown  
                      < 0.5, it is negative

In [38]:
y_pred_proba[:10,1]

array([0.54, 0.21, 0.89, 0.82, 0.62, 0.49, 0.45, 0.63, 0.75, 0.41])

In [39]:
len(y_pred_proba[:,1])

839

In [114]:
def assignClass(probs):
  y_class = []
  for i in range(len(probs[:,1])):
    if probs[i,1] >= 0.65:
      y_class.append(1)
    elif probs[i,1] >= 0.5 and probs[i,1] <= 0.65:
      y_class.append('UNKNOWN')
    else:
      y_class.append(0)
  return y_class

In [115]:
y_pred_class = []
y_pred_class = assignClass(y_pred_proba)

In [116]:
def calcPositives(y_hat, y_true):
  tp = 0
  fp = 0
  for i in range(len(y_true)):
    if (y_hat[i] == 1) & (y_true.iloc[i,0] == 1):
      tp += 1
    elif (y_hat[i] == 1) & (y_true.iloc[i,0] == 0):
      fp += 1
  return tp, fp

In [117]:
def calcPrecision(tp, fp):
  return tp / (tp + fp)

In [118]:
def calcAccuracy(y_hat):
  unknown = 0 
  for i in range(len(y_hat)):
    if y_hat[i] != 1 and y_hat[i] != 0:
      unknown += 1
  return (1 - (unknown / len(y_hat))), unknown

In [119]:
accuracy, unknowns = calcAccuracy(y_pred_class)
print("Accuracy: ", accuracy)

Accuracy:  0.7783075089392133

In [120]:
unknowns

186

In [121]:
tp, fp = calcPositives(y_pred_class, y_test)

In [122]:
precision = calcPrecision(tp, fp)
print("Precision: ", precision)

Precision:  0.8246013667425968

In [68]:
y_class[1]

0

**how about we drop the categorical variable cols with missing values**